* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 20px;
    text-align: center;
    background-color: black;
}

h1 {
    color: white;
    margin-bottom: 10px;
}

.filters button {
    padding: 10px 15px;
    margin: 5px;
    border: none;
    background-color: white;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.3s;
}

.filters button:hover {
    background-color: grey;
    color: white;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 15px;
    padding: 20px;
}

.gallery img {
    width: 100%;
    cursor: pointer;
    border-radius: 10px;
    transition: 0.3s filter 0.3s;
}

.gallery img:hover {
    transform: scale(1.05);
    filter: brightness(80%);
}

#lightbox {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    display: none;
    justify-content: center;
    align-items: center;
}

#lightbox img {
    max-width: 80%;
    max-height: 80%;
    border-radius: 10px;
}

#close {
    position: absolute;
    top: 20px;
    right: 30px;
    font-size: 40px;
    color: white;
    cursor: pointer;
}

#prev,
#next {
    position: absolute;
    top: 50%;
    font-size: 40px;
    background-color: none;
    color: white;
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
    transfomrm: translateY(-50%);
}

#prev {
    left: 30px;
}

#next {
    right: 30px;
}

@media(max-width: 600px) {
    #lightbox img {
        max-width: 95%;
    }
}