.main{
    height: 550px;
    background-color:gray;
    border-radius: 10px;
    width:400px;
    margin-top: 30px;
}
body{
    padding: 0%;
    margin: 0%;
    justify-items: center;
    background-color:#fff;
   
    
}
button{
    height: 75px;
    width: 75px;
    border-radius: 100px;
    font-size: 25px;
    cursor: pointer;
    
}
.button{
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 5px;
    margin-top: 30px;
    margin-left: 15px;
    
}
input{
    height: 95px;
    width:370px;
    margin-top: 10px;
    border: 10px;
    margin-left: 13px;
    font-size: 80px;
    text-align: right;
    
}
button:hover{
    background-color: rgb(209, 161, 161);
}
    
    




